<div class="form clearfix">
  <div class="form-field">
    <input [(ngModel)]="number" [ngClass]="{ error:      !isValidNumber() }" class="form-number clearfix"
      id="form-number" (keyup)="isValidNumber()" />
  </div>
  <div class="call-button" (click)="call()">
    Zadzwoń
  </div>
</div>
<div class="state">
  Status połączenia: {{ state }}
</div>
